
<html>
    <head>
        <title>SISTEMA TRANSFER</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>

        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                <img src="/public/images/logo-micron.svg" class="d-inline-block align-top" alt="">
            </a>
        </nav>

        {% block contents %}{% endblock %}
        
        <script src="/public/js/jquery.js"></script>
        
        {% block scripts %}{% endblock %}

    </body>
</html>